<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Está tudo certo, <%= data[0].name %>?
    </h1>
        <form method="POST" action="/employers/<%= data[0]._id %>">
            <input type="text" value="<%= data[0].name %>" name="name"/>
            <input type="text" value="<%= data[0].job %>" name="job"/>
            <button type="submit">Atualizar</button>
        </form>
        <a href="/employers">Voltar</a>
</body>
</html>