<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Veja quem já está cadastrado
    </h1>

    <% data.forEach(e => { %>
            <div><%= e.name %></div>
            <div><%= e.job %></div>
            <a href="/employers/<%= e._id %>">Ver</a>
    <% }) %>
</body>
</html>